.top-div {
    height:auto;
}

.title-header{
    text-align: center;
    color: white;
    font-family: "Afacad";font-size: xx-large;
    text-decoration: none;
    transition: 0.3s;
}

.title-header:hover{
    text-align: center;
    color: white;
    font-family: "Afacad";font-size: xx-large;
    text-decoration: none;
    font-size: 34px;
}

.top-button{
    height:auto;
    width: auto;
    position: absolute;
    left: 0;
    padding: 0 10px;
}

.about-me-image{
    width: auto;
    height: auto;
}